* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

header {
    color: white;
    font-size: 50px;
}

body {
    text-align: center;
}

p {
    color: aquamarine;
    font-size: 16px;
    text-underline-position: auto;
}

h2 {
    color: white;
    font-weight: 300;
    font-size: 42px;
}
aside {
    color: gray;
    font-size: 21px;
}

footer {
    text-align: right ;
    color: gray;
}

.link {
    color: aquamarine;
}